html,
body {
  font-family: "Ubuntu", sans-serif;
  margin: auto;
  max-width: 50rem;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  line-height: 145%;
}

body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 31);
    color: rgb(238, 238, 238);
  }
}

a {
  color: #2563eb;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
}

.title {
  margin: 0.67em 0;
  color: #454a79;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}
